.pokemonCard{
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: center;
    border-radius: 50px 3px 3px 50px;
    height: 10vh;
    justify-content: space-between;
}

.pokemonCard .pokeball{
    height: 50%;
}

.pokemonCard .pokeParagraph{
    font-size: 200%;
}

.active{
    display: grid;
    background-color: brown;
    height: 11vh;
}