@media (min-width: 900px) {
  .app {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1.3fr;
    align-items: center;
  }
  .app-row .squareImg {
    height: 70vh;
    width: 70vh;
  }
}

@media (max-width: 899px) {
  .app-row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .app-row .pokemonCard{
    width: 90%;
  }

  .app-row .leftImg{
    width: 0%;
    height: 0%;
  }
}
